:root {
    --mesure-editor-content: calc( var(--col-width) * 11  + var(--gut-width) * 10);
    --mesure-editor-aside-content: calc( var(--gut-width) * 2  + var(--col-width) * 3 );
}

.mesure-editor-grid-layout{

    grid-template-columns: var(--mesure-editor-content) var(--mesure-editor-aside-content);
   // grid-template-rows:   100%;
    column-gap: var(--mesure-editor-right-margin);

    grid-template-areas:
        "mesure-editor-main mesure-editor-aside";


    
        
 
}
