// .button {
//     min-width: calc((var(--col-width) * 3) + (var(--gut-width) * 2));
//     width: auto;
//
//     @extend %buttons;
//     @extend %colors-negative;
//     &:hover, &:active, &:focus{
//         @extend %colors-positive;
//         cursor: pointer;
//     }
//
//     padding: 8px 16px;
//     background-color: var(--primary);
//     border: 1px solid var(--primary);
//     @extend %radius;
//
//     &:hover{
//         border: 1px solid var(--primary);
//     }
//
//
//     &--big {
//         height: 42px;
//         min-width: calc((var(--col-width) * 5) + (var(--gut-width) * 4));
//     }
//     &--small{
//         height: 21px;
//         padding:0px;
//         max-width:100%;
//     }
//     &.btn--primary {
//
//     }
//     &.btn--secondary {
//         @extend %colors-positive;
//         border: 1px solid var(--primary);
//         // margin-left: var(--gut-width);
//         &:hover, &:active, &:focus{
//             @extend %colors-negative;
//         }
//     }
//   &__svg {
//     margin-left: 8px;
//   }
//
// }

.button {
    width: auto;

    @extend %buttons;
    @extend %colors-negative;
    &:hover, &:active, &:focus{
        @extend %colors-positive;
        cursor: pointer;
    }

    padding: 8px 16px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    @extend %radius;

    &:hover{
        border: 1px solid var(--primary);
    }

    &--big {
        height: 42px;
    }
    &--small{
        height: 21px;
        padding:0px;
        max-width:100%;
    }
    &.btn--primary {

    }
    &.btn--secondary {
        @extend %colors-positive;
        border: 1px solid var(--primary);
        // margin-left: var(--gut-width);
        &:hover, &:active, &:focus{
            @extend %colors-negative;
        }
    }
  &__svg {
    margin-left: 8px;
    width: auto;
    height: 100%;

    &.info {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' height='24px' width='24px' fill='%231c313a'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z'/%3E%3C/svg%3E");
    }

    &.help {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 0 24 24' width='24px' fill='%231c313a'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z'/%3E%3C/svg%3E");
    }
  }

}
