.list-mesure{
    gap: 8px;

    &__title{

    }

    &__item {
        cursor: pointer;
        &:hover {
            @extend %large-body;
        }
    }

    &--selected{
        font-weight:bold;
    }

    .action-icon{
        cursor:pointer;
    }

    .button {
        justify-content: center;
    }
}
