.list-mesure{
    gap: 8px;

    &__title{

    }

    &__item {
        cursor: pointer;
        &:hover {
            @extend %large-body;
        }
    }

    &--selected{
        @extend %large-body;

        & > div {
            position: relative;
            &:after {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                content:" ";
                border-bottom: solid 1px var(--primary);
                height: 0px;
            }
        }

    }

    .action-icon{
        cursor:pointer;
    }

    .button {
        justify-content: center;
    }
}
