:root {
    --editor-left-margin: 5%;
    --editor-right-margin: 5%;
}

.editor-grid-layout{

    grid-template-columns: var(--editor-left-margin) 120px auto  var(--editor-right-margin) ;
    grid-template-rows:  fit-content(50px) fit-content(200px) auto;

    grid-template-areas:
        "margin nav nav margin2"
        "margin patient patient margin2"
        "margin mesures content margin2"
        ;

    justify-items: stretch;

}
