@import 'bia-layout/sass/theme/default/main.scss';


.tabs{
    @extend %colors-positive;

    &__tab.selected{
        @extend %colors-positive;
        background-color: transparent;
    }

    &__wrapper{
        width:100%;
        background-color: var(--tertiary);
    }


}


.bia-editor{
    @extend %base_font;


    &__patient{
        h2{
            margin-bottom: 8px;
        }
        .patient-header{
           
            &__field{
                b {
                    margin-bottom: 4px;
                }
            }
            &___fieldset{
                padding-top:11px;
                padding-bottom:17px;
            }
        }
      
    }

    &__mesures {
        .list-mesure {
            &__title {
                margin-bottom: 4px;
            }
            &__item {
                margin: 4px 0px;
            }
        }

    }



}

.editor-grid{
    grid-gap: 10px;
}
