@use '../eksass/base' as *;
@use '../layout' as *;

footer {
  @extend %colors-negative;
  padding: 0px 32px;
}

.footer {
  display: grid;
  grid-area: footer;

  &__content {
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    flex-direction: row;
    display: flex;
    align-items: center;

  }

}
