[submodule "packages/kda-react-redux"]
	path = packages/kda-react-redux
	url = git@gitlab.com:karsegard/react-redux.git
[submodule "packages/kda-react-crud"]
	path = packages/kda-react-crud
	url = git@gitlab.com:karsegard/react-crud.git
[submodule "packages/kda-react-hooks"]
	path = packages/kda-react-hooks
	url = git@gitlab.com:karsegard/react-hooks.git
[submodule "packages/better-sqlite3"]
	path = packages/better-sqlite3
	url = git@github.com:FDT2k/better-sqlite3.git
