.list-manager{
    thead{
        font-weight: var(--font-weight-bold);
    }

    th > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    tr > td, th {
        vertical-align: middle;
        text-align: left;
        padding-right: var(--gut-width);
        width: calc((var(--col-width) * 3) + (var(--gut-width) * 2));
        &:last-child {
            padding-right: 0px;
        }
    }

    tr{
        border-bottom: 1px solid black;
        min-height:48px;
        height:48px;
    }

    
}