
/*ca va bouger, j'ai fait une betise (fabien) */
.bia-main-layout {
    background-color: white;
    grid-template-columns: 100%;
    grid-template-rows: 52px auto 52px;
    grid-template-areas:
    " header "
    " maincontent "
    " footer ";
    column-gap: 16px;
    row-gap: 32px;
}

.bia-main {
    @extend %base_font;

    &__content {
        padding: 0px 32px;
        max-width: 1200px;
        margin: 0px auto;
        box-sizing: border-box;
    }

    .navbar {
        @extend %colors-negative;
        padding: 0px 32px;
    }

    .nav-main {
    }
    &__content {
        overflow-y: auto;
    }
}

button {
    //  width: calc((var(--col-width) * 3) + (var(--gut-width) * 2));
    /*  &:hover, &:active, &:focus{
    @extend %colors-positive;
}*/
}

input,
select,
textarea,
.editable-field
{
    box-sizing: border-box;
    @extend %radius;
    padding: 0px 16px;
}

input,
select,
textarea {
    border: 1px solid var(--primary);
}

tr.selected,
tr:hover {
    @extend %large-body;
}

tr {
    cursor: pointer;
}
