
.container.modal-form{

  & > .container{
    overflow: visible;
  }
  overflow:visible;
}
// this is supposed to always show errors above dialogs
.modal{
  &-overlay{
    &--dialog{
      z-index: 500;
    }
    &--confirm{
      z-index: 550;
    }
    &--error{
      z-index: 600;

    }
    &--loading{
      z-index:400;

    }
    &--info{
      z-index:700;
    }
  }
  &-content{
    overflow:visible;
    &--dialog{
      z-index: 501;

    }
    &--confirm{
      z-index: 551;

    }
    &--error{
      z-index: 601;

    }
    &--loading{
      z-index:401;
    }

    &--info{
      z-index:701;
    }
  }

  
}


.container-modal{
  border-radius: 4px;
  box-shadow: #5a5a5a 0px 0px 5px 0px;
}

.modal-form {
  min-width: calc((var(--col-width) * 8) + (var(--gut-width) * 5));
  padding: 20px;

  input{
    width:100%;
  }

  h2, h3, p {
    margin-bottom: 16px;
  }

}


.modal-overlay {
  background-color: var(--primary);
  opacity:0.3;
}
.modal-content{
  @extend %base_font;
  background-color: var(--secondary);

}

.modal-content-box{
  .title{
    text-align: center;
  }
  max-width:300px;
  min-width: 300px;
  min-height: 300px;
}
