:root{
   // --tab-width : calc((var(--col-width) * 2) + var(--gut-width));
    --tab-width: 150px;
    --tab-height: 32px;
    --active-tab: 1;
    --selected-color: red;
    --focused-color: blue;

}

.tabs{
    &__list{
        height:32px;
    }
    &__wrapper{
        position: relative;
        height:32px;
        max-width:100%;
    }

    &__container{
        position:absolute;
        z-index:1;
        height: var(--tab-height);

    }

    &__tab {
        width: calc(var(--tab-width) - 12px);
        max-width: calc(var(--tab-width) - 12px);
        overflow:hidden;
        border-radius: 3px;
        cursor:pointer;
        margin: 3px;
        padding: 3px;

        &:focus{
            outline: 1px solid var(--tertiary--dark);
        }

        .content{
            padding:3px;
        }
        text-overflow: ellipsis;
    }

    &__panel{
        display:none;

    }
    &__panel.active{
        display:block;
    }


    &__background{
        position: absolute;
        top: 3px;
        left: 3px;

        z-index: 0;
        border-radius: 4px;;
        max-height: 100%;

        height:26px;
        width: calc(var(--tab-width) - 6px );
        transform: translateX(calc( var(--tab-width) * var(--active-tab) ));
        transition: 0.3s ease-in-out;

        .bg{
            min-height: 100%;
            min-width: 100%;
            background-color: var(--selected-color);
            border-radius: 3px;
        }

    }

}
