@use '../eksass/base' as *;
@use '../layout' as *;

nav {
  @extend %colors-negative;
  padding: 0px 32px;

  &.navigation {
    display: grid;
    grid-area: navigation;
  }
  .nav {
    &__content {
        max-width: 1200px;
        width: 100%;
        margin: 0px auto;
        flex-direction: row;
        display: flex;
        align-items: center;
    }
  }
}
