@use '../eksass/base' as *;
@use '../layout' as *;
@use '../fonts' as *;

.header{
  grid-area: header;
  padding: 32px 0px 16px;
  border-bottom: solid 1px var(--primary);
  background-color: aliceblue;


  h2 {
    @extend %title;
  }
  .field {

  }


}
