@use '../eksass/base' as *;
@use '../layout' as *;
@use '../fonts' as *;

.header{
  grid-area: header;
  padding: 32px 0px 16px;
  border-bottom: solid 1px var(--primary);
  background-color: aliceblue;

  @extend %main-grid;
  grid-template-rows: min-content;

  h2 {
    @extend %title;
    grid-row: 1;
    grid-column: 1 / span 18;
  }
  .field {
    grid-row: 2;
  }


}
