@use '../eksass/base' as *;
@use '../layout' as *;
@use '../fonts' as *;

.patient-header{
  grid-area: header;
  padding: 16px 0px ;
  border-bottom: solid 1px var(--primary);

  h2 {
    @extend %title;
    margin-bottom: 16px;
  }

  &__fieldset {
      gap: 16px;
  }
  .field {


  }


}
