@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('./font/AktivGroteskCorp-Medium.eot');
    src: local('AktivGroteskCorp-Medium'),
        url('./font/AktivGroteskCorp-Medium.eot?#iefix') format('embedded-opentype'),
        url('./font/AktivGroteskCorp-Medium.woff2') format('woff2'),
        url('./font/AktivGroteskCorp-Medium.woff') format('woff'),
        url('./font/AktivGroteskCorp-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('./font/AktivGroteskCorp-Bold.eot');
    src: local('AktivGroteskCorp-Bold'),
        url('./font/AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'),
        url('./font/AktivGroteskCorp-Bold.woff2') format('woff2'),
        url('./font/AktivGroteskCorp-Bold.woff') format('woff'),
        url('./font/AktivGroteskCorp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('./font/AktivGroteskCorp-Italic.eot');
    src: local('AktivGroteskCorp-Italic'),
        url('./font/AktivGroteskCorp-Italic.eot?#iefix') format('embedded-opentype'),
        url('./font/AktivGroteskCorp-Italic.woff2') format('woff2'),
        url('./font/AktivGroteskCorp-Italic.woff') format('woff'),
        url('./font/AktivGroteskCorp-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('./font/AktivGroteskCorp-LightItalic.eot');
    src: local('AktivGroteskCorp-LightItalic'),
        url('./font/AktivGroteskCorp-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/AktivGroteskCorp-LightItalic.woff2') format('woff2'),
        url('./font/AktivGroteskCorp-LightItalic.woff') format('woff'),
        url('./font/AktivGroteskCorp-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('./font/AktivGroteskCorp-MediumItalic.eot');
    src: local('AktivGroteskCorp-MediumItalic'),
        url('./font/AktivGroteskCorp-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/AktivGroteskCorp-MediumItalic.woff2') format('woff2'),
        url('./font/AktivGroteskCorp-MediumItalic.woff') format('woff'),
        url('./font/AktivGroteskCorp-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('./font/AktivGroteskCorp-Light.eot');
    src: local('AktivGroteskCorp-Light'),
        url('./font/AktivGroteskCorp-Light.eot?#iefix') format('embedded-opentype'),
        url('./font/AktivGroteskCorp-Light.woff2') format('woff2'),
        url('./font/AktivGroteskCorp-Light.woff') format('woff'),
        url('./font/AktivGroteskCorp-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('./font/AktivGroteskCorp-Regular.eot');
    src: local('AktivGroteskCorp-Regular'),
        url('./font/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/AktivGroteskCorp-Regular.woff2') format('woff2'),
        url('./font/AktivGroteskCorp-Regular.woff') format('woff'),
        url('./font/AktivGroteskCorp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aktiv Grotesk';
    src: url('./font/AktivGroteskCorp-BoldItalic.eot');
    src: local('AktivGroteskCorp-BoldItalic'),
        url('./font/AktivGroteskCorp-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('./font/AktivGroteskCorp-BoldItalic.woff2') format('woff2'),
        url('./font/AktivGroteskCorp-BoldItalic.woff') format('woff'),
        url('./font/AktivGroteskCorp-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


:root {
    --secondary: #FFFFFF;
    --primary: #000000;
    --font-family-aktiv-grotesk: Aktiv Grotesk;
    --font-style-normal: normal;
    --font-style-italic: italic;
    --font-weight-100: 100px;
    --font-weight-normal: normal;
    --font-weight-bold: bold;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-20: 20px;
    --font-size-30: 30px;
    --font-size-40: 40px;
    --character-spacing-0: 0px;
    --line-spacing-15: 15px;
    --line-spacing-25: 25px;
    --line-spacing-50: 50px;
    --line-spacing-17-5: 17.5px;
    --line-spacing-37-5: 37.5px;
    --text-transform-uppercase: uppercase;
}
/* Character Styles */
%headline {
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-40);
    line-height: var(--line-spacing-50);
    letter-spacing: var(--character-spacing-0);
    color: var(--primary);
}
%title {
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-30);
    line-height: var(--line-spacing-37-5);
    letter-spacing: var(--character-spacing-0);
    color: var(--primary);
}
%subheader {
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-20);
    line-height: var(--line-spacing-25);
    letter-spacing: var(--character-spacing-0);
    color: var(--primary);
}
%quote {
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-italic);
    font-weight: var(--font-weight-100);
    font-size: var(--font-size-20);
    line-height: var(--line-spacing-25);
    letter-spacing: var(--character-spacing-0);
    color: var(--primary);
}
%large-body {
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-17-5);
    letter-spacing: var(--character-spacing-0);
    color: var(--primary);
}
%body{
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-17-5);
    letter-spacing: var(--character-spacing-0);
    color: var(--primary);
}
%small-body-bold {
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-15);
    letter-spacing: var(--character-spacing-0);
    color: var(--primary);
}
%small-body{
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-15);
    letter-spacing: var(--character-spacing-0);
    color: var(--primary);
}
%placeholder {
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-italic);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-12);
    line-height: var(--line-spacing-15);
    letter-spacing: var(--character-spacing-0);
    color: var(--color-000000);
}
%buttons {
    font-family: var(--font-family-aktiv-grotesk);
    font-style: var(--font-style-normal);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-14);
    line-height: var(--line-spacing-17-5);
    letter-spacing: var(--character-spacing-0);
    color: var(--secondary);
    text-transform: var(--text-transform-uppercase);
}



%base_font{
    font: var(--font-style-normal) normal var(--font-weight-normal) var(--font-size-14)/var(--line-spacing-17-5) var(--font-family-aktiv-grotesk);
letter-spacing: var(--character-spacing-0);
color: var(--primary);

    b,label{
        font-weight:bold;
    }

    h3{
        font-weight:bold;
    }

}



%fat-header{
    font-family: Helvetica;
    font-size: 34px;
}
