@import "@/bia-layout/sass/theme/default/main.scss";


.container-modal{
  border-radius: 4px;
  box-shadow: #5a5a5a 0px 0px 5px 0px;
}

.modal-form {
  width: calc((var(--col-width) * 8) + (var(--gut-width) * 5));
  padding: 20px;

  input{
    width:100%;
  }

  h2, h3, p {
    margin-bottom: 16px;
  }

}
