:root{
    --color-invalid:red;
    --color-valid: green;
}

.impedance-form{
    &__line-header{
        font-weight:bold;
    }
    &__header{
        font-weight:bold;
    }
    
  
    input{
        width:56px;
    }
}

.bia-mesure-editor{
    min-width:100%;
    width:100%;
}

.bia-editor__form{

    div.editable-field{
        min-height:30px;
        background-color: grey;
    }

    .result-row--upper{
        color: var(--color-valid);
    }

    .result-row--lesser{
        color:var(--color-invalid);
    }
}

