@use "reset";
@use "fonts";
@use "flexbox";


body, html {
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2em;
  color:#1C313A;
  margin: 0px auto;
  max-width: 1200px;
}

.container {
  margin: 72px 32px;
}


h1{
  font-size: 50px;
  line-height: 1.2em;
}

h2{
  font-size: 40px;
  line-height: 1.2em;
}

h3{
  font-size: 30px;
  line-height: 1.2em;
}

h4{
  font-size: 20px;
  line-height: 1.2em;
}

p,
label,
a{
  font-size: 16px;
  line-height: 1.2em;
}

label{
  font-weight: 700;
}

b, strong { font-weight: 700; }
i, em { font-style: italic; }

a,
a:visited,
a:active,
a:hover {
  cursor:pointer;
  text-decoration: none;
  color: #1C313A;
  border:none;

  &.link {
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: solid 1px #1C313A;

    &::after {
      content:" \2794";
    }
  }

}



/** TAGS **/

img{
  width: 48vw;
  height: auto;
  max-width: 650px;
  border-radius: 4px;
  flex-shrink: 0;
}

/** SECTIONS **/

nav, footer {
  // background-color: #1C313A;
  background-color: #1C313A;
  color: white;

  position: fixed;
  left: 0px;
  right: 0px;

  section {
    padding: 16px 32px;
    margin: 0px; 
    width: 100%;
    max-width: calc(1200px - 72px);
  }
}

nav {
  top: 0px;
}

footer {
  bottom: 0px;
  // text-align: center;
}

footer a,
footer a:visited,
footer a:active,
footer a:hover {
  color: white;
  border-bottom: solid 1px white;
}

article,
section,
header {
  margin: 32px 0px;
}

/** BUTTONS **/

.btn {
  background-color: inherit;
  border: inherit;
  text-transform: uppercase;
  font-size: 14px;

  &--primary,
  &--secondary {
    padding: 16px 24px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
  }

  &--primary,
  &--primary:active,
  &--primary:visited,
  &--secondary:hover {
    background-color: #1C313A;
    border: solid 1px white;
    color: white;
  }

  &--secondary,
  &--secondary:active,
  &--secondary:visited,
  &--primary:hover {
    background-color: white;
    border: solid 1px #1C313A;
    color: #1C313A;
  }

  &--text {
    font-weight: 700;
  }
}



/** CUSTOMS **/

.downloads {
  gap: 7%;
  article {
    width: auto;
    min-width: 15%;
    max-width: 47%;
  }

  & a {
    margin-top: 8px;
  }
}

.steps {
  section:not(section:first-child) {
    margin-top: calc(32px*4);
  }
  img {
    margin-right: 32px;
  }
}

.icon{
  height:32px;
  width:32px;
}

/** MEDIAQUERIES **/

@media (max-width: 560px) {
  .container {
    margin: 50px 20px;
  }

  .downloads {
    flex-direction: column;
    article {
      max-width: 100%;
    }
  }

  .steps {
    article {
      flex-direction: column;
      gap: 16px;
      padding-bottom:32px;

      img {
        width: 100%;
        margin-right: 0px;
      }
    }
 
  }
}
