.field{

    margin-right: var(--gut-width);
    margin-bottom: 16px;

    &:last-child {
        margin-right: inherit;
    }
    &__label{
        display: inline-block;
        margin-bottom: 8px;
    }

    &__field {

        width: 100%;

        & > * {
            width: 100%;
            height: 32px;
            @extend %radius;
        }

        input:not([type="checkbox"]), select {
            width: 100%;
            border: solid 1px var(--primary);
            box-sizing:border-box;
            padding: 0px 16px;
        }
    }

    .editable-field {
        padding: 0px 16px;
        @extend %radius;
        border: 1px solid var(--tertiary);
    }
    &--calculated {

    }
    &.date-examen,
    &.activite-physique,
    &.type-activite-physique,
    &.poids-actuel {
        @extend %col-3;
    }
    &.fumeur,
    &.cote-mesure,
    &.taille {
        @extend %col-2;
    }
    &.date-examen {
        .field__field {
            .editable-field {
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
            }
        }
    }
    &.fumeur {
        margin-right: inherit;
    }
}
