.input-group{

    label{
        padding-bottom: var(--gut-width);
    }

    input[type="text"]{
        height:32px;
        border-radius: 4px;
        border: 1px solid var(--primary);
        
    }
   
    padding-bottom: var(--gut-width);
}