.input-group{

    label{
        padding-bottom: var(--gut-width);
    }

    input{
        height:32px;
        border-radius: 4px;
        border: 1px solid var(--primary);
        padding: 0px calc(var(--gut-width) * 2);
    }
    padding-bottom: calc(var(--gut-width) * 2);
}

.input {
    &--big {
        height: 42px;
        min-width: calc((var(--col-width) * 13) + (var(--gut-width) * 12));
    }
}
