:root{

    --template-area: "";

    --color-invalid: red;

}

.impedance-form{
    min-height:auto;
    height:auto;

    grid-template-columns:var(--width--3-col)  var(--width--2-col) var(--width--2-col) var(--width--2-col) var(--width--2-col) ;
    grid-template-rows:  16px 32px 32px 32px 32px;

    column-gap: var(--gut-width);
    row-gap: 8px;

    align-items: center;
    justify-items: stretch;

    text-align: center;

    grid-template-areas:
    ". h_nor h_5 h_50 h_100 "
    "h_res  f_res_nor res5 res50 res100 "
    "h_rea f_rea_nor rea5 rea50 rea100 "
    "h_z f_z_nor z5 z50 z100 "
    "h_a f_a_nor a5 a50 a100 "
    ;

}

.impedance-form{
    &__field--invalid{
        color: var(--color-invalid);
    }


    div.editable-field{
        min-height:45px;
    }
}
