

// this is supposed to always show errors above dialogs
.modal{
  &-overlay{
    &--dialog{
      z-index: 500;
    }
    &--error{
      z-index: 600;

    }
    &--loading{
      z-index:400;
      background-color: red;

    }
  }
  &-content{
    &--dialog{
      z-index: 501;
      overflow:visible;

    }
    &--error{
      z-index: 601;

    }
    &--loading{
      z-index:401;
    }
  }
}


.container-modal{
  border-radius: 4px;
  box-shadow: #5a5a5a 0px 0px 5px 0px;
}

.modal-form {
  width: calc((var(--col-width) * 8) + (var(--gut-width) * 5));
  padding: 40px;

  input{
    width:100%;
  }

  h2, h3, p {
    margin-bottom: 16px;
  }

}
