:root {
    --mesure-editor-left-margin: calc( var(--gut-width) * 2  + var(--col-width) );
    --mesure-editor-content: auto;
    --mesure-editor-aside-content: calc( var(--gut-width) * 2  + var(--col-width) * 3 );
}

.mesure-editor-grid-layout{

    grid-template-columns: var(--mesure-editor-left-margin) var(--mesure-editor-content) var(--mesure-editor-aside-content);
    grid-template-rows:   100%;

    grid-template-areas:
        ". mesure-editor-main mesure-editor-aside";

   


}
