@import 'bia-layout/sass/theme/default/main.scss';


.bia-main{

    grid-template-columns: auto fit-content(var(--reference-width)) auto;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        "header-mr header header-ml"
        ". maincontent ."
        "footer-mr footer footer-ml";

    &__content{
        min-width: var(--reference-width);
    }

    .navbar{
        @extend %colors-negative;
    }
}



button{
    @extend %buttons;
    padding:10px;
    &:hover, &:active, &:focus{
        @extend %colors-positive;
    }
}



tr.selected, tr:hover{
    @extend %large-body;

}

tr{
    cursor:pointer;
}
