@import 'bia-layout/sass/theme/default/main.scss';

/*ca va bouger, j'ai fait une betise (fabien) */
.bia-main-layout{
    grid-template-columns: 100%;
    grid-template-rows: 52px auto 52px;
    grid-template-areas:
      " header "
      " maincontent "
      " footer ";
}


.bia-main{

    @extend %base_font;

    &__content{
        max-width:100%;
        padding: 0px var(--marge-width);
    }

    .navbar{
        @extend %colors-negative;
        padding: 0px var(--marge-width);
    }

    .nav-main {

    }
}


button {
    width: calc((var(--col-width) * 3) + (var(--gut-width) * 2));
    &:hover, &:active, &:focus{
        @extend %colors-positive;
    }
}



tr.selected, tr:hover{
    @extend %large-body;

}

tr{
    cursor:pointer;
}
