@import 'bia-layout/sass/theme/default/main.scss';


.bia-main{

    grid-template-rows: 50px auto 50px;


}



button{
    @extend %buttons;
    padding:10px;
    &:hover, &:active, &:focus{
        @extend %colors-positive;
    }
}

.input-group{
    @extend %large-body;
    label{
        padding-bottom:7px;
    }
    padding-bottom:19px;
    min-width:320px;
}


.bia-main{

    .navbar{
        @extend %colors-negative;
    }
}

tr.selected, tr:hover{
    @extend %large-body;

}

tr{
    cursor:pointer;
}
