%col-2 {
    width: calc((var(--col-width) * 2) + (var(--gut-width) * 1));
}
%col-3 {
    width: calc((var(--col-width) * 3) + (var(--gut-width) * 2));
}
%col-4 {
    width: calc((var(--col-width) * 4) + (var(--gut-width) * 3));
}
%col-5 {
    width: calc((var(--col-width) * 5) + (var(--gut-width) * 4));
}

%radius {
    border-radius: 4px;
}
