@import 'bia-layout/sass/theme/default/main.scss';


.tabs{
    @extend %colors-positive;

    &__tab.selected{
        @extend %colors-positive;
        background-color: transparent;
    }
   
    &__wrapper{
        width:100%;
        background-color: var(--tertiary);
    }
}
.bia-editor{
    @extend %base_font;
    
   
    &__patient{

        h1{
            @extend %fat-header;
        }
        .patient-header{
            padding-top:17px;
            border-bottom:1px solid black;
            &__field{
                b{
                    font-weight:bold;
                }
            }
            &___fieldset{
                padding-top:11px;
                padding-bottom:17px;
            }
        }
        .patient-header__fieldset{
          
        }
    }
  

    
}

.editor-grid{
    grid-gap: 10px;
}
