@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {

  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: A4 portrait;
  margin: 20mm;
}

@media screen {
  .printable {
    page-break-inside: avoid;
    display: none;
    div {
        border:1px solid blue;
    }
  }
}

@media print {
  .printable {
    display: block;
    max-height: 100vh; 
  }
}
