

.impedance-form{
    &__line-header{
        font-weight:bold;
    }
    &__header{
        font-weight:bold;
    }
    
  
    input{
        width:56px;
    }
}


.bia-editor__form{

    div.editable-field{
        min-height:30px;
        background-color: grey;
    }

}