@use 'fonts' as *;

:root {
  --font-family-aktiv-grotesk: "Aktiv Grotesk";
  --font-style-normal: normal;
  --font-style-italic: italic;
  --font-weight-100: 100px;
  --font-weight-normal: normal;
  --font-weight-bold: bold;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-20: 20px;
  --font-size-30: 30px;
  --font-size-40: 40px;
  --character-spacing-0: 0px;
  --line-spacing-15: 15px;
  --line-spacing-25: 25px;
  --line-spacing-50: 50px;
  --line-spacing-17-5: 17.5px;
  --line-spacing-37-5: 37.5px;
  --text-transform-uppercase: uppercase;
}
/* Character Styles */
%headline {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-40);
  line-height: var(--line-spacing-50);
}
%title {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-30);
  line-height: var(--line-spacing-37-5);
}
%subheader {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-25);
}
%quote {
  font-style: var(--font-style-italic);
  font-weight: var(--font-weight-100);
  font-size: var(--font-size-20);
  line-height: var(--line-spacing-25);
}
%large-body {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-17-5);
}
%body {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-17-5);
}
%small-body-bold {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-15);
}
%small-body {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-15);
}
%xsmall-body {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-10);
  line-height: var(--line-spacing-15);
}
%placeholder {
  font-style: var(--font-style-italic);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-12);
  line-height: var(--line-spacing-15);
}
%buttons {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-14);
  line-height: var(--line-spacing-17-5);
  text-transform: var(--text-transform-uppercase);
  cursor: pointer;
}

%base_font {
  font: var(--font-style-normal) normal var(--font-weight-normal)
    var(--font-size-14) / var(--line-spacing-17-5)
    var(--font-family-aktiv-grotesk);
  letter-spacing: var(--character-spacing-0);
  b,
  label {
    font-weight: var(--font-weight-bold);
  }
  h1 {
    @extend %headline;
  }
  h2 {
    @extend %title;
  }
  h3 {
    @extend %subheader;
  }
  h4,
  button {
    @extend %buttons;
  }
  p {
    @extend %body;
  }
  label {
    @extend %large-body;
  }
  ::placeholder {
    @extend %placeholder;
  }
}

%printable_fonts {
  font-family: arial, verdana, tahoma, sans-serif;
  h1 {
    @extend %headline;
  }
  h2 {
    @extend %title;
  }
  h3 {
    @extend %subheader;
  }
  h4,
  button {
    @extend %buttons;
  }
  p {
    @extend %body;
  }
  label {
    @extend %large-body;
  }
  ::placeholder {
    @extend %placeholder;
  }
}

%fat-header {
  font-family: Helvetica;
  font-size: 34px;
}
