:root {
    --search-left-margin: 5%;
    --search-right-margin: 5%;
}

.search-grid-layout{

    grid-template-columns: 100%;
    grid-template-rows: 76px fit-content(200px) auto;

    grid-template-areas:
        "search"
        "filter"
        "list"
        ;

    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
}
